div.catalog_card_style {
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 30px;
  margin-right: 10px;
  width: 190px;
  max-width: 200px;
}

div.catalog_card_style div.image {
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 280px;
  max-height: 280px;
}

div.catalog_card_style div.image div.wrapper {
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

div.catalog_card_style div.image div.wrapper a.image {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
  color: #000;
  display: inline-block;
  width: 100%;
  height: 100%;
}

div.catalog_card_style div.image div.wrapper a.image img {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  color: #000;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

div.catalog_card_style div.content {
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 26px 10px 12px 10px;
  position: relative;
  white-space: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.catalog_card_style div.content div.consensus {
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  display: inline-block;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 38px;
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: -19px;
  left: 10px;
}

div.catalog_card_style div.content div.consensus div.outer-ring {
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border-radius: 50%;
  background-color: #93adb5;
  width: 45px;
  height: 45px;
  padding: 2px;
  margin-right: 0;
  border: solid 2px black;
}

div.catalog_card_style div.content div.consensus div.outer-ring div.user-score-chart {
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}

div.catalog_card_style div.content div.consensus div.outer-ring div.user-score-chart div.percent {
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.catalog_card_style div.content div.consensus div.outer-ring div.user-score-chart div.percent span.icon {
  white-space: normal;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Consensus' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding-top: 1px;
  padding-left: 1px;
  font-size: 1em;
}

div.catalog_card_style div.content h2.title {
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  font-size: 1em;
  margin: 0;
  width: 100%;
  overflow-wrap: break-word;
  padding-top: 13px;
}

div.catalog_card_style div.content h2.title a.title {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  font-size: 1em;
  overflow-wrap: break-word;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

div.catalog_card_style div.content h2.title a.title:hover {
  color: #be7efa;
}

div.catalog_card_style div.content p {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.6);
}

div.catalog_card_style div.hover {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 5;
  -webkit-transition: linear .1s;
  transition: linear .1s;
  opacity: 0;
}
/*# sourceMappingURL=CatalogCard.css.map */