section.search {
  --tmdbDarkBlue: 3, 37, 65;
  --tmdbLightBlue: 1, 180, 228;
  --tmdbLightGreen: 30, 213, 169;
  --maxPrimaryPageWidth: 1700px;
  --imageColumnPadding: 30px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 360px;
  height: calc(100vh / 2.5);
  max-height: 400px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  max-width: var(--maxPrimaryPageWidth);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(var(--tmdbDarkBlue), 0.8)), to(rgba(var(--tmdbDarkBlue), 0))), url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/kSNojkWwSZWsYv0Xj1gcq88okzY.jpg");
  background-image: linear-gradient(to right, rgba(var(--tmdbDarkBlue), 0.8) 0%, rgba(var(--tmdbDarkBlue), 0) 100%), url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/kSNojkWwSZWsYv0Xj1gcq88okzY.jpg");
}

section.search div.media {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.search div.media div.column_wrapper {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

section.search div.media div.column_wrapper div.content_wrapper {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: var(--maxPrimaryPageWidth);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.search div.media div.column_wrapper div.content_wrapper div.title {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}

section.search div.media div.column_wrapper div.content_wrapper div.title h2 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
}

section.search div.media div.column_wrapper div.content_wrapper div.title h3 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}

section.search div.media div.column_wrapper div.content_wrapper div.search {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

section.search div.media div.column_wrapper div.content_wrapper div.search form.inner_search_form {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  position: fixed;
  max-width: var(--maxPrimaryPageWidth);
}

section.search div.media div.column_wrapper div.content_wrapper div.search form.inner_search_form label.input_label {
  width: 700px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.search div.media div.column_wrapper div.content_wrapper div.search form.inner_search_form label.input_label input[type="text"] {
  font: inherit;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: white;
}

section.search div.media div.column_wrapper div.content_wrapper div.search form.inner_search_form input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  font: inherit;
  margin: 0;
  line-height: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: button;
  cursor: pointer;
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
  padding: 10px 26px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(rgba(var(--tmdbLightGreen), 1)), to(rgba(var(--tmdbLightBlue), 1)));
  background: linear-gradient(to right, rgba(var(--tmdbLightGreen), 1) 0%, rgba(var(--tmdbLightBlue), 1) 100%);
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: -1px;
  color: #fff;
}
/*# sourceMappingURL=Search.css.map */